.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
}

.item {
  width: 15rem;
  margin: 1rem;
  cursor: pointer;
}

.folder {
  width: 100%;
  height: 10rem;
  background: var(--folder-color);
  border: var(--element-border);
}

.file {
  width: 100%;
  height: 10rem;
  font-size: var(--font-big-text);
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--element-border);
}

.name {
  font-size: var(--font-text);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 1rem;
}
