.folder {
  position: relative;
  cursor: pointer;
  &:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-left: 0.5rem solid #000;
    position: absolute;
    top: 0.9rem;
    left: -1.3rem;
  }
}

.open {
  &:before {
    transform: rotate(90deg);
  }
}

.name {
  font-size: var(--font-text);
  padding: 0.6rem;
  &:hover {
    background: var(--node-active-color);
  }
}
