.sidebar {
  border: var(--element-border);
  border-top: none;
  padding: 2rem 2rem 2rem 0;
  width: 30rem;
  height: calc(100% - var(--header-height));
  box-sizing: border-box;
  overflow: scroll;
}
