@import '~normalize.css/normalize.css';

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

:root {
  //typography
  --font-unit: 1.6rem;
  --font-h1: calc(1.5 * var(--font-unit)); // 24px
  --font-p: calc(1 * var(--font-unit)); // 16px
}
