@import '~normalize.css/normalize.css';

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-color);
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  //typography
  --font-unit: 1.6rem;
  --font-h1: calc(1.5 * var(--font-unit)); // 24px
  --font-text: calc(1 * var(--font-unit)); // 16px
  //colors
  --text-color: #000;
  --element-border: 0.2rem solid #000;
}
